    <div class="navbar">
        <img id="logo" src="/images/shears.png" alt="Under The Shears Logo">
    
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://www.instagram.com/alixesgrooms4u/" target="_blank">Instagram</a></li>
            </ul>
        </nav>
    </div>