:root {
    --sandrift: #6a6550;
}

body {
    background-color: black; 
    margin:0;
}

header {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;

}

header::after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
}

#logo {
    float: left;
    height: 50x;
    width: 50px;
    padding: 10px;
    opacity: 0.5;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

nav a:hover {
    color: var(--sandrift);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--sandrift);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

@media screen and (max-width: 785px) {
    nav ul {
        display: none;
    }

    #logo {
        clear:left;
        position: relative;
        display: flex;
        justify-content: center;
        width: 10%;
    }
}

#dog-image {
    float: left;
    height: 50%;
    width: 50%;
    margin-left: 5%;

    position: relative;

    min-width: 378px;
}

#logo-large {
    position: relative;
    display:inline-block;
}

#logo-large-image {
    top: 150px;
    margin-left: 17%;
    height: 60%;
    width: 60%;
    opacity: 0.5;
    position: relative;
}

#logo-text {
    position: absolute;
    margin-top: 175px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    opacity: 0.5;
}

#statement {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}















